<!--
Author: georgediab
Date: 2014-06-12 21:38:48
Last Modified by: georgediab
Last Modified Date: 2014-07-28 01:18:48
File: footer.html
-->

<template name="footer">
    <div id="footer">
        <div class="footer-wrap flex-box">
        	<div>
	            <a href="/about/" class="closeMenu">About</a>
	            <a href="#" class="closeMenu btn-feedback">Feedback</a>
        	</div>
        	<div class="terms">
	            <a href="/terms/" class="closeMenu">Terms of Service</a>
	            <a href="/privacy/" class="closeMenu btn-feedback">Privacy Policy</a>
        	</div>
        </div>
    </div>
</template>

