<!--
Author: georgediab
Date: 2014-06-08 23:59:18
Last Modified by: georgediab
Last Modified Date: 2014-08-03 21:02:00
File: question_submit.html
-->

<template name="questionSubmit">
	<form name="question" class="noshow gen-page ask-question-form">
		<div class="form-group">
			<textarea name="body" class="form-control" placeholder="Your Question" rows="4" maxlength="400"></textarea>
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-of btn-block btn-blue">Ask!</button>
		</div>	
		<div class="form-group">
			<button type="submit" class="btn btn-of btn-block btn-black ask-cancel">Cancel</button>
		</div>	 
	</form>
</template>