<!--
Author: georgediab
Date: 2014-06-29 23:35:08
Last Modified by: georgediab
Last Modified Date: 2014-08-06 16:09:08
File: landing.html
-->

<template name="landingPage">
  <div id="landingContainer">
  	<div class="page">
  		<a href="/floorisopen" class="logo"></a>
  		<h1>Real-Time Q&A</h1>
      <p>OpenFloor changes engagement through short, real-time Q&A</p>
      <a href="{{pathFor 'main'}}" class="btn btn-of btn-blue">Enter <span class="fa fa-arrow-icon-right"></span></a>
  		<div class="disclaimer">
        	Version: 1.0.28.0606
  		</div>
  	</div>
  </div>
</template>