<!--
Author: georgediab
Date: 2014-07-22 09:45:56
Last Modified by: georgediab
Last Modified Date: 2014-07-22 09:46:17
File: about.html
-->

<template name='about'>
	<div class="card ">
		<div class="pad-all card-border">
			<h2>OpenFloor</h2>
			<p><strong>Real-time Q&A!</strong> Share your knowledge with others by opening the floor and answering questions.</p>
			<p>OpenFloor is in early beta. This site may be subject to changes on a whim. Feedback and suggestions are appreciated!</p>
			<p>If you like OpenFloor, help us spread the word by liking and sharing with friends!</p>
			<p>
			<a href="https://www.facebook.com/floorisopen" target="_blank" class="btn btn-of btn-blue" style="width: 55px; font-size: 24px"><span class="fa fa-facebook postToFacebook"></span></a> 
			<a href="https://twitter.com/floorisopen" target="_blank" class="btn btn-of btn-blue" style="width: 55px; font-size: 24px"><span class="fa fa-twitter"></span></a></p>
		</div>
	</div>
</template>
