
<template name='event'>
	<div class="card gen-form">
	  <form class="card-border pad-all">
	        <p>Enter your event code below</p>
	        <div class="form-group">
	            <input name="event-code" type="text" value="" autocapitalize="off" autocorrect="off" placeholder="Please enter your event code here!" class="form-control" />
	        </div>
	        <div class="form-group">
	            <input type="submit" value="Go To The Event" class="btn btn-of btn-block btn-blue" />
	        </div>
	    </form>
	</div>
</template>