<!--
Author: georgediab
Date: 2014-07-27 21:01:50
Last Modified by: georgediab
Last Modified Date: 2014-07-28 09:37:17
File: feedback_submit.html
-->

<template name="feedbackSubmit">
    <div class="card">
        <form class="main pad-all card-border">
        	<h2>Feedback</h2>
        	<div class="form-group">
				<textarea name="feedback" placeholder="Have something to tell us? Love what you see? Found a bug? Put it here!" class="form-control question" rows="3"></textarea>
			</div>
			<div class="form-group">
				<input type="submit" value="Send Feedback" class="btn btn-of  btn-block btn-blue"/>
			</div>
		</form>

	</div>
	
</template>
